<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="template.master.cs" Inherits="site.template" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <br />
            <h1>Template</h1>
            <br />
            <hr />
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
            <hr />
            <br />
            <h1>Footer <br />copiright@2026</h1>
            <br />
        </div>
    </form>
</body>
</html>
